body{
  margin: 0;
  padding: 0;
 /* <!--  background: url(bg.jpg) no-repeat; -->*/
  background-size: cover;
}
.box{
  width: 70%;
  background: rgba(0, 0, 0, 0.4);
  padding: 7%;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2%;
  color: white;
  font-family: 'Courier New',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}

.resumeLinkBox{
  width: 70%;
  background: rgba(0, 0, 0, 0.4);
  padding: 7%;
  text-align: center;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  color: white;
  font-family: 'Courier New',sans-serif;
}
.resumeLinkBox li{
  display: inline-block;
  margin: 2px;
  list-style: none;
}
.resumeLinkBox li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.resumeLinkBox li a:hover{
  color: #b9b9b9;
}
.resumeLinkBox h1{
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 90;
}
.findMebox{
  width: 70%;
  background: rgba(0, 0, 0, 0.4);
  padding: 7%;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  color: white;
  font-family: 'Courier New',sans-serif;
}

.findMebox h1{
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 90;
}


.findMebox li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.findMebox li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.findMebox li a:hover{
  color: #b9b9b9;
}